* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 5px solid black;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 70vh;
    border-radius: 6px;
}

.display{
    grid-column-start: 1;
    grid-column-end: end;
    text-align: right;
    font-size: 58px;
    background-color: #676b6e;
    border-radius: 6px;
    margin-top: 1px;
    margin-bottom: 4px;
}

.zero{
    grid-column: 1;
    grid-column-end: 3;
}

.operand{
    background-color: #E4F6F8;
    font-size: 18px;
    border-radius: 6px;
}

.operator{
    background-color: #a1b1b5;
    font-size: 18px;
    border-radius: 6px;
}
